body{

    background-color: rgb(95, 95, 93);
}

.card {
    float:left;
    margin: 40px;
    padding: 20px;
    background-color: rgb(185, 185, 185);
    
}
.card-text {
    width: 100%;
}
.container-div {
    
        
    }