body{

    background-color: #14171a;
}

.card {
    float:left;
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 185, 185);
    overflow: hidden;
    
}
.card-text {
    width: 100%;
}
.container-div {
    
        
    }

#btnTraining {
    width: 100%;
    background-color : green;

}
#titleTraining{
    width: 100%;
}
#jumbTronLogin{
    color: black;
    background-color: rgb(95, 95, 93);
}

#colorJumb{
    color: black;
}

#jumbotron {
    width: 100%;
    height: 100%;
}
#map {
    height: 400px;
    width: 100%;
   }
.generalBoardTrainingName{
    color:black;
}


#panel-general{

    color:white;
}
#btnColor{
    background-color: rgb(21, 133, 207);
    color: rgb(243, 243, 243);
}
#formColor{
    color:black;
}
#containerLogin{
    height: 50%;
}

#outerLoginPane {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middleLoginPane {
    display: table-cell;
    vertical-align: middle;
}

#innerLoginPane {
    margin-left: auto;
    margin-right: auto; 
    
}
#loginPanelColor{
    color:white;
}
#buttonLoginColor{
background-color: black;
border-color: black;


}
#cancelBtnShowTraining{
    float: right;
}
#navbarColor{
    color: white;
}
.navbar-default{
    border-color:black;
    border-radius: 0px;
}
#homeMenu{
    width: 50%;
    height:25%;
}
#colorHomeMen{
    color:white;
}

#employee {
    text-align: center;

}
#employeeList {
   text-align: center;
   
}

#employeeItem {
    //alles in comment is niet nodig maar toch bijhouden voor de zekerheid
    //text-align: block;
    //display : block;
    // float: left;
    // margin: 10px;
    //overflow: hidden;
    font-size: 20px;
    padding: 10px;
    background-color: #423c3c;
    
    
   
}
ul {
    list-style-type: none;

}

.color {
    width: 400px;
    height: 400px;
    background: black;
    margin: auto auto;
  }
  .clicked {
  width: 400px;
    height: 400px;
    background-color: red;
    margin: auto auto;
  }